/********************** slider home *****************/
main{
  padding: 0 100px;
  background-color: #E5E5E5;
}

.Home-slider{
  width: 100%;
  height: fit-content;
  overflow: hidden;
  top: 10%;
  left: 10%;
}

.slide-navigation{
  display: flex;
  position: relative;
  bottom: 30px;
  left: 40%;
}

.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover{
  background-color: #fff;
}

input[name="r"]{
  position: absolute;
  visibility: hidden;
}

.Home-slides{
  width: 300%;
  height: 100%;
  display: flex;
}

.Home-slide{
  width: 33.3%;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home-slide img{
  width: fit-content;
  height: fit-content;
}

#r1:checked ~ .s1{
  margin-left: 0px;
}
#r2:checked ~ .s1{
  margin-left: -33.3%;
}
#r3:checked ~ .s1{
  margin-left: -66.6%;
}

/******************* flex content ******************* */
.Home-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  
}

.Home-content-item{
  min-width: 280px;
  max-width: 580px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  margin: 20px;
}

.Home-comp-text{
  padding: 15px;
}

.Home-comp-text h4{
  text-align: center;
}

.Home-content-item img{
  width: 100%;
  height: 100%;
}

.Home-comp-item-title-link{
  display: flex;
  padding: 0px;
  height: 70px;
  width: 100%;
  background-color: #FF009E;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.Home-comp-low-link{
  margin: 15px auto;
  width: 100px;
  height: 28px;
  text-align: center;
  background-color:white;
  border-radius: 4px;
  border: 2px solid  #FF009E;
}

.Home-comp-low-link:hover{
  background-color:  #ff4dbb;
  color: white;
}


/*******************News flex *****************/

.Home-news{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Home-news-title{
  font-size: 30px;
  text-align: center;
  margin: 20px auto;
}

.Home-news-components{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Home-news-item{
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 350px;
  border-radius: 10px;
  transition: 0.3s;
  background-color: #fff;
  text-align: center;
}

.Home-news-item:hover{
  -moz-box-shadow:5px 5px 10px #bdbdbd;
/* Chrome и Safari */
  -webkit-box-shadow:5px 5px 10px #bdbdbd;
/* Код CSS тени блока для абсолютно всех браузеров новых версий */
  box-shadow:5px 5px 10px #bdbdbd;
  background-color: white;
}

.Home-news-item-text{
  color: #000;
}

.Home-news-item-img{
  width: 100%;
}

.Home-news-last{
  display: grid;
}

.Home-news-last-link{
  width: fit-content;
  padding:  20px ;
  margin: 10px ;
  justify-self: center;
  background-color: #FF009E;
  color: #fff;
  border-radius: 10px;
  transition: 0.3s;
}

.Home-news-last-link:hover{
  background-color: #ff2faf;
}

/********* adaptive mobile *************/

@media screen and (max-width: 750px){
  main{
    padding: 0px 5px;
  }
}

@media screen and (max-width: 1300px){
  .Home-news-item{
    margin: 0 10px;
  }
}

@media screen and (max-width: 570px){
  .Home-content{
    display: flex;
    flex-direction: column;
  }

  .slide-navigation{
    left: 25%;
  }

  .Home-news-components{
    overflow: hidden;
  }

  .Home-news-item{
    margin: 0 7px;
  }
}