a{
  text-decoration: none;
}

.NavBar-header {
  background-color:white;
  height: 80px;
  margin: auto;
  
}

.NavBar-header-link{
  padding: 14px 16px;
  font-size:22px;
  color: black;
}

.NavBar-header-logo{
  width: 120px;
  position: relative;
  top: 10px;
}
.NavBar-header-link span{
  text-decoration: none;
}

.NavBar-burger{
  display: none;
  color: black;
  font-size: 24px;
}

@media screen and (max-width: 600px){
  .NavBar-header-link:not(:first-child){
    display: none;
  }

  .NavBar-burger{
    display: block;
    position: absolute;
    top: 20px;
    right: 22px;
  }

  .NavBar-header.responsive{
    position: absolute;
  }

  .NavBar-header.responsive .NavBar-header-link{
    float: none;
    display: block;
    text-align: left;
  }

   
  
}