a{
  text-decoration: none;
}

.NavBar-header {
  background-color:white;
  min-height: 10vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.NavBar-header-link{
  padding: 10px 10px;
  margin:0 5px;
  font-size:24px;
  color: black;
}

.NavBar-header-logo{
  width: 120px;
}
.NavBar-header-link span{
  text-decoration: none;
}

.NavBar-burger{
  display: none;
  color: black;
  font-size: 24px;
}

@media screen and (max-width: 600px){
  .NavBar-header-link:not(:first-child){
    display: none;
  }

  .NavBar-burger{
    display: block;
  }

  .NavBar-header.responsive{
    position: relative;
  }

  .NavBar-header.responsive .Navbar-burger{
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .NavBar-header.responsive .NavBar-header-link{
    float: none;
    display: block;
    text-align: left;
  }
}