
.NavBar-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavBar-header-link{
  padding: 5px 10px;
  margin: 0 auto;
}
